@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
	background: #fbe5d9;
	font-family: "Poppins", sans-serif;
}

button {
	border-radius: 20px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}
