@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
  --background_primary: rgba(234, 231, 220, 1);
  --background_secondary: rgba(216, 195, 165, 1);
}

body {
  background: var(--background_primary);
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
