.main {
  margin: 10% 10% 0%;
}

.title {
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  color: #180017;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #180017;
}

.columns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.column {
  /* border-style: solid; */
  flex: 1 0px;
}

/* .column1 {
	background: rgba(74, 127, 254, 0.7);
} */

.column2 {
  background: rgba(254, 127, 74, 0.7);
  border-radius: 20px;
}

.primary {
  --theme-color: rgba(4, 52, 90, 1);
}

.secondary {
  --theme-color: rgba(199, 39, 63, 1);
}

.hollow {
  box-sizing: border-box;
  border: 3px solid rgba(4, 52, 90, 1);
  background: inherit;
  color: var(--theme-color);
}

.solid {
  background: var(--theme-color);
  color: rgba(255, 220, 198, 1);
}
