@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rotate-font-size: 5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

h2 {
  /*i.e. title */
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

/* Hero */
.outer-headings {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: var(--rotate-font-size);
  font-weight: bold;
  line-height: 100%;
}

.line {
  height: var(--rotate-font-size);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  white-space: preserve nowrap;
}
