@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rotate-font-size: 5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

h2 {
  /*i.e. title */
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

/* Hero */
.outer-headings {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: var(--rotate-font-size);
  font-weight: bold;
  line-height: 100%;
}

.line {
  height: var(--rotate-font-size);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  white-space: preserve nowrap;
}

.rotate-text {
  height: var(--rotate-font-size);
  text-transform: uppercase;
  overflow: hidden;
}

.rotate-text > span {
  position: relative;
  overflow: hidden;
  animation: text-rotate 10s ease infinite;
}

@keyframes text-rotate {
  0% {
    top: 0;
  }
  13.3% {
    top: 0;
  }
  16.7% {
    top: calc(var(--rotate-font-size) * -1);
  }
  30% {
    top: calc(var(--rotate-font-size) * -1);
  }
  33.3% {
    top: calc(var(--rotate-font-size) * -2);
  }
  46.7% {
    top: calc(var(--rotate-font-size) * -2);
  }
  50% {
    top: calc(var(--rotate-font-size) * -3);
  }
  63.3% {
    top: calc(var(--rotate-font-size) * -3);
  }
  66.7% {
    top: calc(var(--rotate-font-size) * -4);
  }
  80% {
    top: calc(var(--rotate-font-size) * -4);
  }
  83.3% {
    top: calc(var(--rotate-font-size) * -5);
  }
  96.7% {
    top: calc(var(--rotate-font-size) * -5);
  }
  100% {
    top: calc(var(--rotate-font-size) * -6);
  }
}
